.sponsor-logos {
  display: flex;
  align-items: center;
  min-height: 4em;
  gap: 1em;
  flex-wrap: wrap;
  a {
    text-decoration: none !important;
  }
  img {
    max-height: 4em;
    max-width: 10em;
  }

  .block-a {
    padding-right: 1em;
    border-right: 1px solid #00275b;
  }
  .ua-groups {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

.nowrap-first-two-table-columns td:nth-child(1),
.nowrap-first-two-table-columns td:nth-child(2) {
  white-space: nowrap;
}
