.sponsor-logos {
  display: flex;
  align-items: stretch;
  min-height: 4em;
  gap: 1em;
  a {
    text-decoration: none !important;
  }

  .block-a {
    padding-right: 1em;
    border-right: 1px solid #00275b;
    img {
      height: 4em;
    }
  }
  .ua-groups {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
  }
}
